:root{
  --primary: #000000;
  --nav1: #5f0201;
  --secondary: #fff8dc;
  --shadow-btn: 0 1px 5px rgba(0, 0, 0, 0.8);
  --shadow-nav: 0 4px 10px rgba(0, 0, 0, 0.4); 
}
body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: beige;
}

html {
  box-sizing: border-box;
  
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* ----------------------------------------------------------------------------------- */
/* Custom Samarkan Font */
@font-face {
  font-family: 'samarkannormal';
  src: url('./font/samarkannormal-rxge-webfont.woff2') format('woff2'),
       url('./fonts/samarkannormal-rxge-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/* custom nav */
.nav {
  background-color: yellow; 
  list-style-type: none;
  text-align: center;
  background-color: #421D0A;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 0 7.5px 5px rgba(0, 0, 0, 0.16);
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 26px;
  padding: 15px 15px 15px 15px;
  width: 300px;
  font-family: samarkannormal;  
}

.nav a{
  color: #f2f2f2;
  text-decoration: none;
}

.nav a:hover { 
  color: #FFC40D;
}

#h{
background-color: cornsilk;
color: #FFC40D;
padding: 15px 75px 15px 75px;
}

.topimg{
text-align: center;
}

/* ------------------------------------------------------------------- */

/* Contact Cards */

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 50px;
  padding: 0 8px;
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  background-color: whitesmoke;
  text-align: center;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}


/* -------------------------------------------------------------------------- */

#borderimage{
  border: 24px solid transparent;
  padding: 25px;
  border-image: url(images/borders/kisspng-picture-frame-lovely-old-golden-frame-5a70526088a0c0.6946531515173105605596.png) 55 round;}

/* -------------------------------------------------------------------- */

/* 'footer */

footer{
  color: var(--secondary);
  text-align: center;
  padding: 10vh 0;
  overflow: hidden;
  background-color: black;
}

/* ------------------------------------------------------------- */