:root{
  --primary: #000000;
  --nav1: #5f0201;
  --secondary: #fff8dc;
  --shadow-btn: 0 1px 5px rgba(0, 0, 0, 0.8);
  --shadow-nav: 0 4px 10px rgba(0, 0, 0, 0.4); 
}
html {
  box-sizing: border-box;
  
}

body {
  padding: 0;
  margin: 0;
  font-family: calibri;
  line-height: 1.5; /*line spacing*/
  background-color: #006379;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------------------------------------------------------------------------- */
/* Custom Samarkan Font */
@font-face {
  font-family: 'samarkannormal';
  src: url('./font/samarkannormal-rxge-webfont.woff2') format('woff2'),
       url('./fonts/samarkannormal-rxge-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/* custom nav */
.mainNav{
  position: fixed;
  width: 100%;
  top: 0;

  background: #006379;
  text-align: center;
  font-family: samarkannormal;

  padding: 1.75vh 0;
  margin: 0;
  box-shadow: var(--shadow-nav);
  border-radius: 0 0 25px 25px;

}

.brick{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.mainNav a{
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}

a.icon{
  display: none;
}

/* logo */

.logo img{
  display: inline-block;
  margin: 0;
  width: 15vw;
  position: absolute;
  top:0;
  left: 42.5vw;
}

.logo-2{
  display: none;
}

@media screen and (max-width: 500px){
  .brick{
      display: grid;
      grid-template-columns: 1fr;
      

  }

  .mainNav{
      border-radius: 50px;
      top: 10px;
      left: 6vw;
      width: 90vw;

  }

  .mainNav a:not(:nth-child(2)){
      display: none;
  }

  .logo-2{
      display: inline-block;
  }

  .logo-2 img
  {  
      width: 90px;
      position: absolute;
      left: -3.5vw;
      top: -0.5vh;
  
  }

  .logo{
      display: none;
  }

  

  .mainNav a.icon{
      position: absolute;
      top: 1.6vh;
      right: 20px;
      display: block; 
      text-align: center;       
  }
}

  @media screen and (max-width: 500px) {
    .mainNav.responsive {position: fixed; width: 90%;}
    .mainNav.responsive a.icon {
      position: absolute;
      right: 20px;
      top: 1.6vh;
    }
    .mainNav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
  }

/* ------------------------------------------------------------------- */

/* Contact Cards */

.wrapper{
  background-color: #e1f9ff;
  margin: 7vh 10px 10px 10px;
  padding: 1px;
  border-radius: 5px;
}

.contact-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-self: center;
  justify-content: center;
}

/* .column {
  float: left;
  width: 33.3%;
  margin-bottom: 50px;
  padding: 0 8px;
  text-align: center;
} */

.card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* box-shadow: var(--shadow-nav); */
  margin: 0 40px 80px 40px;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.about-section {
  margin-top: 4vh;
  color: #8B6426;
  text-align: center;
  font-size: 1.2rem;
}

#borderimage{
  border: 24px solid transparent;
  padding: 80px 120px;
  border-image: url(images/borders/kisspng-picture-frame-lovely-old-golden-frame-5a70526088a0c0.6946531515173105605596.png) 55 round;
}

.team{
  width: 95%;
  text-align:center; 
  margin: 2rem 0 2rem 2.5%; 
  color: #006379;
  background-color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.card img{
  width:100%;
  box-shadow: none;
}

.container {
  padding: 0 16px;
}

.title {
  color: grey;
}

.social{
  text-align: center;
}

.social a{
  text-decoration: none;
  color:#0d152e;
}

.social a:not(:first-child){
  margin-left: 2rem;
}

.button {
  border: none;
  border-radius: 5px;
  outline: 0;
  display: inline-block;
  margin: 10px 0;
  padding: 5px 0;
  color: white;
  background-color: #0d152e;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #006379;
}

.container h2, p{
  color: #0d152e;
  padding: 5px 0;
}

@media screen and (max-width: 500px) {
  .contact-grid{

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  }
  .card, .card img{
    border-radius: 5px;
  }

  .team{
    border-radius: 5px;
  }

  #borderimage{
    padding:40px;
  }

}


/* -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------- */

/* 'footer */

footer{
  color: white;
  text-align: center;
  background-color: black;
  padding: 10vh 0;
}

/* ------------------------------------------------------------- */