*{
  margin: auto;
  box-sizing: border-box;
}

body{
  background-image: url(images/BG/kisspng-cinema-film-clip-art-movie-theatre-5ab8ee311b66d1.8580104115220690411122.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 25px;
  background-color: #242018;
}

/* Custom Samarkan Font */
@font-face {
  font-family: 'samarkannormal';
  src: url('./font/samarkannormal-rxge-webfont.woff2') format('woff2'),
       url('./fonts/samarkannormal-rxge-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.mySlides {display: none;}



/* ------------------------------------------------------------------ */
/* Custom Navigation Bar */

  .nav { 
    list-style-type: none;
    text-align: center;
    /* background-color: #421D0A; */
    background-color: #5f0201;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0 7.5px 5px rgba(0, 0, 0, 0.16);
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    display: inline-block;
    font-size: 26px;
    padding: 15px 15px 15px 15px;
    width: 300px;
    font-family: samarkannormal;  
  }

  .nav a{
    color: #f2f2f2;
    text-decoration: none;
  }

  .nav a:hover { 
    color: #FFC40D;
  }

#h{
  background-color: cornsilk;
  color: #FFC40D;
  padding: 15px 75px 15px 75px;

  }

.topimg{
  text-align: center;
}
  
/* -------------------------------------------------------------  */

.r1{
  
  text-align: center;
  
}

.r1 img{
  width: 1090px;
}

/* .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
} */


.r2{
  
  border-radius: 25px;
  box-shadow: 0 7.5px 5px rgba(0, 0, 0, 0.16);
  height: 450px;
  padding-top: 20px;
  margin: 280px 50px 50px 50px;
  background-color:cornsilk;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* ----------------------------------------------------------- */


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* ---------------------------------------------------------------- */

.card {
  box-sizing: border-box;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-top: 10px;

}
.column1 {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-left: 20%;

}

.column2 {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-left: 0;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}




/* contact us form */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* ------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */

/* 'footer */

.footer {
  position: relative;
  width: 100%;
  background-color: #421D0A;
  color: #FFC40D;
  text-align: center;
  padding: 1%;
}

/* ------------------------------------------------------------- */