/* Variables */
:root{
    --primary: #000000;
    --nav1: #5f0201;
    --secondary: #fff8dc;
    --shadow-btn: 0 1px 5px rgba(0, 0, 0, 0.8);
    --shadow-nav: 0 4px 10px rgba(0, 0, 0, 0.4); 
}

html{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body{
    background-color: var(--primary);
    line-height: 1.5; /*line spacing*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url(images/BG/drawable-xxxhdpi/Group\ 3.png);
    background-size: cover;
    background-position: center;
    background-position-y: 2vh;
    background-repeat: no-repeat;
    height: 100vh;

}

@media screen and (max-width: 500px){
    .brick{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }

    .mainNav a:not(:first-child){
        display: none;
        align-items: center;
    }
        


    .mainNav a.icon{
        display: block;
        position: absolute;
        right: 1vh;
        padding-right: 2vh;
        
        
    }

    header{
        height: 74vh;
        background-size: cover;
        background-image: url(images/drawable-xxxhdpi/Group\ 6.png);
        background-position: center;
    }

}

@media screen and (max-width: 500px) {
    .mainNav.responsive {position: relative;}
    .mainNav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .mainNav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }






.btn{
    background: var(--primary);
    color: var(--secondary);
    padding: 0.6rem 1.3rem;
    text-decoration: none; /* removing underline*/
    border: none;
    box-shadow: var(--shadow-btn);
}




/* Navigation */

/* Custom Samarkan Font */
@font-face {
    font-family: 'samarkannormal';
    src: url('./font/samarkannormal-rxge-webfont.woff2') format('woff2'),
         url('./fonts/samarkannormal-rxge-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }


.mainNav{

    background: var(--nav1);
    text-align: center;
    font-family: samarkannormal;

    padding: 1.5vh 2vh;
    margin: 0;
    box-shadow: var(--shadow-nav);
    border-radius: 0 0 25px 25px;

}

.brick{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
}

.mainNav a{
    text-decoration: none;
    color: var(--secondary);
    font-size: 1.6rem;
}

a.icon{
    display: none;
}

/* logo */

.logo img{
    display: inline-block;
    margin: 0;
    width: 15vw;
    position: absolute;
    top:0;
    left: 43vw;
}

.social{
    margin:5vh 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
}

.social-txt{
    color: blanchedalmond;
    align-self: center;
    font-family: calibri;
    font-size: 1.5rem;
}

.social-icons a{
    color: blanchedalmond;
    font-size: 3rem;
    text-decoration: none;
    margin-right: 80px;
}





.container{
    background-color: var(--secondary);
    padding-top: 10px;
    overflow: hidden;
}

.news-tab{
    display: grid;
    grid-gap: 10vw;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    padding: 50px 50px;
    overflow: hidden;
}

.container .news-tab .card-n{
    background-color: var(--secondary);
    box-shadow: var(--shadow-nav);
    text-align: center;
    justify-content: center;
    line-height: 3rem;



}

.card-n img{
 
    max-width: 100%;
        
}

/* footer */
footer{
    color: var(--secondary);
    text-align: center;
    padding: 10vh 0;
    overflow: hidden;
    background-color: black;
}