/* Variables */
:root{
    --primary: #000000;
    --nav1: #5f0201;
    --secondary: #fff8dc;
    --shadow-btn: 0 1px 5px rgba(0, 0, 0, 0.8);
    --shadow-nav: 0 4px 10px rgba(0, 0, 0, 0.4); 
}

html{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body{
    background-color: var(--nav1);
    line-height: 1.5; /*line spacing*/
    font-family: Lucida console;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url(images/BG/drawable-xxxhdpi/Group\ 3.png);
    background-size: cover;
    background-position: center;
    background-position-y: 2vh;
    background-repeat: no-repeat;
    height: 100vh;

}








.btn{
    background: var(--primary);
    color: var(--secondary);
    padding: 0.6rem 1.3rem;
    text-decoration: none; /* removing underline*/
    border: none;
    box-shadow: var(--shadow-btn);
}




/* Navigation */

/* Custom Samarkan Font */
@font-face {
    font-family: 'samarkannormal';
    src: url('./font/samarkannormal-rxge-webfont.woff2') format('woff2'),
         url('./fonts/samarkannormal-rxge-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }


.mainNav{
    position: fixed;
    width: 100vw;

    background: var(--nav1);
    text-align: center;
    font-family: samarkannormal;

    padding: 1.5vh 2vh;
    margin: 0;
    box-shadow: var(--shadow-nav);
    border-radius: 0 0 25px 25px;

}

.brick{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.mainNav a{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}

a.icon{
    display: none;
}

/* logo */

.logo img{
    display: inline-block;
    margin: 0;
    width: 15vw;
    position: absolute;
    top:0;
    left: 42.5vw;
}

.logo-2{
    display: none;
}

@media screen and (max-width: 500px){
    .brick{
        display: grid;
        grid-template-columns: 1fr;
        

    }

    .mainNav{
        border-radius: 50px;
        top: 10px;
        left: 6vw;
        width: 90vw;

    }

    .mainNav a:not(:first-child){
        display: none;
    }

    .logo-2{
        display: inline-block;
    }

    .logo-2 img
    {  
        width: 90px;
        position: absolute;
        left: -3.5vw;
        top: -0.5vh;
    
    }

    .logo{
        display: none;
    }

    

    .mainNav a.icon{
        position: absolute;
        top: 1.6vh;
        right: 20px;
        display: block; 
        text-align: center;       
    }

    header{
        height: 76vh;
        background-size: cover;
        background-image: url(images/drawable-xxxhdpi/Group\ 5.png);
        background-position: center;

    }

}

@media screen and (max-width: 500px) {
    .mainNav.responsive {position: fixed; width: 90%;}
    .mainNav.responsive a.icon {
      position: absolute;
      right: 20px;
      top: 1.6vh;
    }
    .mainNav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
  }

.social{
    margin:3vh 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* text-align: center; */
}

.social-txt{
    color: white;
    justify-self: end;
    font-family: calibri;
    font-size: 1.2rem;
}
.social-icons{

    justify-self: center;
    
}

.social-icons a{
    color: white;
    font-size: 1.7rem;
    text-decoration: none;
}

.social-icons a:not(:first-child){
    margin-left: 50px;
}
@media screen and (max-width: 500px){
    .social{

        grid-template-columns: 1fr;
        grid-gap: 10px;

    }
    
    .social-txt{
        justify-self: center;
    }
}





.container{
    background-color: blanchedalmond;
    padding-top: 10px;
    overflow: hidden;
}

.news-tab{
    display: grid;
    grid-gap: 10vw;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    padding: 50px 5vw;
    overflow: hidden;
}

.container .news-tab .card-n{
    background-color: var(--secondary);
    box-shadow: var(--shadow-nav);
    text-align: center;
    justify-content: center;
    line-height: 3rem;



}

.card-n img{
 
    max-width: 100%;
        
}

/* footer */
footer{
    color: white;
    text-align: center;
    padding: 10vh 0;
    overflow: hidden;
    background-color: black;
}