:root{
  --primary: #000000;
  --nav1: #5f0201;
  --secondary: #fff8dc;
  --shadow-btn: 0 1px 5px rgba(0, 0, 0, 0.8);
  --shadow-nav: 0 4px 10px rgba(0, 0, 0, 0.4); 
}

*{
    margin: auto;
    box-sizing: border-box;
  }


::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}


/* Custom Samarkan Font */
@font-face {
    font-family: 'samarkannormal';
    src: url('./font/samarkannormal-rxge-webfont.woff2') format('woff2'),
         url('./fonts/samarkannormal-rxge-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }


body{
    background: grey;
    font-family: calibri;
}



/* ------------------------------------------------------------------ */
/* Custom Navigation Bar */

.nav { 
    list-style-type: none;
    text-align: center;
    /* background-color: #421D0A; */
    background-color: #5f0201;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0 7.5px 5px rgba(0, 0, 0, 0.16);
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    display: inline-block;
    font-size: 26px;
    padding: 15px 15px 15px 15px;
    width: 300px;
    font-family: samarkannormal;  
  }

  .nav a{ 
    color: #f2f2f2;
    text-decoration: none;
  }

  .nav a:hover { 
    color: #FFC40D;
  }

#h{
  background-color: cornsilk;
  color: #FFC40D;
  padding: 15px 75px 15px 75px;

  }

.topimg{
  text-align: center;
}


/* ------------------------------------------------------------------- */

/* Flip Box */
.flip-box {
  border-radius: 0;
  height: 400px;
  margin: 2.5% 5% 2.5% 5%;
  background-color: transparent;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  perspective: 1000px;
}

.flip-box-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  border-radius: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
  /* margin: 2.5% 5% 2.5% 5%; */
  background-color:cornsilk;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flip-box-back {
  border-radius: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
  /* margin: 2.5% 5% 2.5% 5%; */
  background-color:cornsilk;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transform: rotateX(180deg);
}

/* --------------------------------------------------------------------- */

/* 'footer */

footer{
  color: var(--secondary);
  text-align: center;
  padding: 10vh 0;
  overflow: hidden;
  background-color: black;
}
  
  /* ------------------------------------------------------------- */