:root{
  --primary: #000000;
  --nav1: #5f0201;
  --secondary: #fff8dc;
  --shadow-btn: 0 1px 5px rgba(0, 0, 0, 0.8);
  --shadow-nav: 0 4px 10px rgba(0, 0, 0, 0.4); 
}

*{
    margin: auto;
    box-sizing: border-box;
  }


::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}


/* Custom Samarkan Font */
@font-face {
    font-family: 'samarkannormal';
    src: url('./font/samarkannormal-rxge-webfont.woff2') format('woff2'),
         url('./fonts/samarkannormal-rxge-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }


body{
    background: white;
    font-family: calibri;
    line-height: 1.5; /*line spacing*/
}



/* ------------------------------------------------------------------ */
/* Custom Navigation Bar */

.mainNav{
  position: relative;
  width: 100vw;
  top: 0;

  background: #421D0A;
  text-align: center;
  font-family: samarkannormal;

  padding: 1.5vh 2vh;
  margin: 0;
  box-shadow: var(--shadow-nav);
  border-radius: 0 0 25px 25px;

}

.brick{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.mainNav a{
  text-decoration: none;
  color: var(--secondary);
  font-size: 1.6rem;
}

a.icon{
  display: none;
}

/* logo */

.logo img{
  display: inline-block;
  margin: 0;
  width: 15vw;
  position: absolute;
  top:0;
  left: 42.5vw;
}

.logo-2{
  display: none;
}

@media screen and (max-width: 500px){
  .brick{
      display: grid;
      grid-template-columns: 1fr;
      

  }

  .mainNav{
      border-radius: 50px;
      top: 10px;
      left: 6vw;
      width: 90vw;

  }

  .mainNav a:not(:nth-child(5)){
      display: none;
  }

  .logo-2{
      display: inline-block;
  }

  .logo-2 img
  {  
      width: 90px;
      position: absolute;
      left: -3.5vw;
      top: -0.5vh;
  
  }

  .logo{
      display: none;
  }

  

  .mainNav a.icon{
      position: absolute;
      top: 1.6vh;
      right: 20px;
      display: block; 
      text-align: center;       
  }
}

  @media screen and (max-width: 500px) {
    .mainNav.responsive {position: relative; width: 90%;}
    .mainNav.responsive a.icon {
      position: absolute;
      right: 20px;
      top: 1.6vh;
    }
    .mainNav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
  }


/* ------------------------------------------------------------------- */

/* Flip Box */

.flip-box {
  border-radius: 0;
  height: 400px;
  margin: 10vh 5% 2.5% 5%;
  background-color: transparent;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  perspective: 1000px;
}

.flip-box-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  border-radius: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
  /* margin: 2.5% 5% 2.5% 5%; */
  background-color:cornsilk;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flip-box-back {
  border-radius: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
  /* margin: 2.5% 5% 2.5% 5%; */
  background-color:cornsilk;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transform: rotateX(180deg);
}

/* --------------------------------------------------------------------- */

/* 'footer */

footer{
  color: var(--secondary);
  text-align: center;
  padding: 10vh 0;
  overflow: hidden;
  background-color: black;
}
  
  /* ------------------------------------------------------------- */