:root{
  --primary: #000000;
  --nav1: #5f0201;
  --secondary: #fff8dc;
  --shadow-btn: 0 1px 5px rgba(0, 0, 0, 0.8);
  --shadow-nav: 0 4px 10px rgba(0, 0, 0, 0.4); 
}



*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;   
  }

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}


/* Custom Samarkan Font */
@font-face {
    font-family: 'samarkannormal';
    src: url('./font/samarkannormal-rxge-webfont.woff2') format('woff2'),
         url('./fonts/samarkannormal-rxge-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }


body{
    background: #f1faff;
    font-family: calibri;
    line-height: 1.5; /*line spacing*/
}



/* ------------------------------------------------------------------ */
/* Custom Navigation Bar */

.mainNav{
  position: relative;
  width: 100vw;
  top: 0;

  background: #412227;
  text-align: center;
  font-family: samarkannormal;

  padding: 1.5vh 2vh;
  margin: 0;
  box-shadow: var(--shadow-nav);
  border-radius: 0 0 25px 25px;

}

.brick{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.mainNav a{
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}

a.icon{
  display: none;
}

/* logo */

.logo img{
  display: inline-block;
  margin: 0;
  width: 15vw;
  position: absolute;
  top:0;
  left: 42.5vw;
}

.logo-2{
  display: none;
}

@media screen and (max-width: 500px){
  .brick{
      display: grid;
      grid-template-columns: 1fr;
      

  }

  .mainNav{
      border-radius: 50px;
      top: 10px;
      left: 6vw;
      width: 90vw;

  }

  .mainNav a:not(:nth-child(5)){
      display: none;
  }

  .logo-2{
      display: inline-block;
  }

  .logo-2 img
  {  
      width: 90px;
      position: absolute;
      left: -3.5vw;
      top: -0.5vh;
  
  }

  .logo{
      display: none;
  }

  

  .mainNav a.icon{
      position: absolute;
      top: 1.6vh;
      right: 20px;
      display: block; 
      text-align: center;       
  }
}

  @media screen and (max-width: 500px) {
    .mainNav.responsive {position: relative; width: 90%;}
    .mainNav.responsive a.icon {
      position: absolute;
      right: 20px;
      top: 1.6vh;
    }
    .mainNav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
  }


/* ------------------------------------------------------------------- */

/* Show boxes */
.shows{
  margin: 10vh 2vw;
}
.showcase{
  margin-top: 5vh;
  background-color:#ffe9da;
  display: grid;
  grid-template-columns: 1.25fr 2fr;
  column-gap: 10px;
  padding: 20px;
  box-shadow: var(--shadow-btn);
  justify-items: center;
}


.show-img{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(150px, auto);
  align-items: center;
}

.one{
  height: 150px;
  text-align: center;
  box-shadow: var(--shadow-nav);  
}

.one img{
  height: 150px;
  max-width: 100%;
  object-fit: cover;

}

.two{
  text-align: center;
}

.two a{
  text-decoration: none;
}

.show-text{
  padding: 0 15px;
  text-align: center;
  align-self: center;
}


/* --------------------------------------------------------------------- */

/* 'footer */

footer{
  color: var(--secondary);
  text-align: center;
  padding: 10vh 0;
  overflow: hidden;
  background-color: black;
}
  
  /* ------------------------------------------------------------- */

  @media screen and (max-width: 500px){
    .showcase{
      grid-template-columns: 1fr;
      gap: 20px;
    }

    .show-text{
      order: 1;
    }
    .show-img{
      order:2;
    }
    .one, .one img{
      border-radius: 10px;
    }
  } 